<html>

<body>
    <router-outlet></router-outlet>

    <p>hi this the app component module</p>
    <app-first></app-first>

    <!-- <app-third></app-third>
    <app-fourth></app-fourth>
    <app-five></app-five>
    <app-six></app-six>
    <app-seven></app-seven>
    <app-eight></app-eight>
    <app-nine></app-nine>
    <app-ten></app-ten> -->

    <button routerLink="/first">1</button>
    <button routerLink="/first/second">2</button>
    <button routerLink="/first/second/third">3</button>
    <button routerLink="/first/second/third/fourth">4</button>
    <button routerLink="/first/second/third/fourth/five">5</button>
    <button routerLink="/first/second/third/fourth/five/six">6</button>
    <button routerLink="/first/second/third/fourth/five/six/seven">7</button>
    <button routerLink="/first/second/third/fourth/five/six/seven/eight">8</button>
    <button routerLink="/first/second/third/fourth/five/six/seven/eight/nine">9</button>
    <button routerLink="/first/second/third/fourth/five/six/seven/eight/nine/ten">10</button>
    <!-- <button routerLink="/first" routerLink="activated"></button> -->
</body>

</html>